<header class="main-header">
  <h1><a routerLink="/"> WYG-TIWIF</a></h1>
  <a routerLink="/"><img src="/icon.png" alt="Logo" /></a>

  @if (authService.isLoggedIn()){
  <nav class="nav-menu">
    <a routerLink="/destinations" class="nav-item">
      <span class="main-text">Mes destinations</span>
      <span class="hover-text">Consulter</span>
    </a>
    <a routerLink="/profil" class="nav-item">
      <span class="main-text">Mon profil</span>
      <span class="hover-text">Modifier</span>
    </a>
    <a routerLink="/friends" class="nav-item">
      <span class="main-text">Mes amis</span>
      <span class="hover-text">Gérer</span>
    </a>
  </nav>
  }
</header>

<main>
  @if (authService.isLoggedIn() && router.url === '/') {
  <h2 class="page-title">Ravi de vous revoir {{ username }} !</h2>
  } @if (!authService.isLoggedIn() && router.url === '/') {
  <app-auth></app-auth>
  }
  <router-outlet></router-outlet>
</main>
