<h2 class="page-title">Mes destinations</h2>

@if (destinations$ | async; as destinations) {
  <div class="destinations-list">
    @for (dest of destinations; track dest._id) {
      <article class="destination-card" [class.visited]="dest.isVisited">
        <div class="destination-info">
          <div class="header-card">
            <h3>{{ dest.country }}</h3>
            @if (dest.isVisited) {
              <span class="badge">Visité</span>
            }
          </div>

          <p class="cities">
            @for (city of dest.cities; track $index) {
              <span>{{ city }}{{ !$last ? ", " : "" }}</span>
            }
          </p>

          <p class="budget">{{ dest.budget }} €</p>
        </div>

        <div class="destination-image">
          <img
            class="image-main"
            [src]="'assets/' + dest.imageUrl"
            [alt]="dest.country"
          />
          <img
            class="image-hover"
            [src]="'assets/' + dest.imageUrl"
            [alt]="dest.country"
          />
        </div>
      </article>
    } @empty {
      <p>Aucune destination trouvée.</p>
    }
  </div>
} @else {
  <app-spinner></app-spinner>
}
