.info-group {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;

  label {
    color: var(--muted);
    font-size: 12px;
    text-transform: uppercase;
  }

  p span {
    color: var(--accent);
    font-size: 20px;
    font-weight: bold;
  }
}

.btn-logout {
  background: transparent !important;
  border: 1px solid var(--accent) !important;
  color: var(--accent) !important;

  &:hover {
    background: var(--accent) !important;
    color: white !important;
  }
}
